* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* navbar */
.navbar {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 50px;
  z-index: 10;
  
}
.navbar-links {
  height: 100%;
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-transform: uppercase;
  gap: 90px;
  background-color: #fffcf2;
  padding-right: 20px;
  cursor: pointer;
}
.navbar-link a {
  font-size: 20px;
  text-decoration: none;
  color: #c8bfe7;
  background-color: fffcf2;
  padding-right: 50px;
}
.navbar-link a:hover {
  background-color: #403d39;
  color: white;
  border-radius: 5px;
}

.navbar-links.active {
  top: 0;
  left: 0;
  position: fixed;
  color: black;
}

/* --------------------------------------------------------------------------- */
.books-table-wrapper {
  /* margin-top: 50px; */
  height: 100vh;
  width: 100vw;
  padding: 60px;
}

/* .books-table {
  border: 1px solid black;
} */

.books-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.books-table td,
.books-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.books-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.books-table tr:hover {
  background-color: #ddd;
}

.books-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a5a5a5;
  color: white;
}

.button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.edit-button {
  background-color: #008cba;
}

.delete-button {
  background-color: #f44336;
}

.actions-col {
  display: flex;
  gap: 10px;
}

.books-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.footer {
  background-color: #9d88e9;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  gap: 20px;
}
.footer-books-image{
  object-fit: contain;
}
.footer-books-image img{
  height: 50px;
}
.footer-books-image img:hover{
  height: 60px;
}
.flag-div{
  display: flex;
  flex-direction: row;
}
.footer-flag-image{
  object-fit: contain;
}
.footer-flag-image img{
  height: 40px;
  margin-top: -6px;
}
.flag-div p{
  font-size: 20px;
  margin-left: 10px;
}