* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #E8E4D9; */
}

/* NAV BAR */ 
.navbar {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 50px;
  z-index: 10;
  
}
.navbar-links {
  height: 100%;
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-transform: uppercase;
  gap: 90px;
  background-color: #fffcf2;
  padding-right: 50px;
  cursor: pointer;
}
.navbar-link a {
  font-size: 20px;
  text-decoration: none;
  color: #c8bfe7;
  background-color: fffcf2;
  padding-right: 50px;
}
.navbar-link a:hover {
  background-color: #403d39;
  color: white;
  border-radius: 5px;
}

.navbar-links.active {
  top: 0;
  left: 0;
  position: fixed;
  color: black;
}

/* -----------------------LANDING---------------------------- */
.container{
  padding-left: 30px;
  padding-right: 30px;
}
.landing-container-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 30px;
  height: 80vh;
  background-color: #c8bfe7;
}

.landing-container-left-images{
  object-fit: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 50px;
  padding-bottom: 10px;
  /* padding-top: 10px; */
  padding-left: 20px;
}
.smaller img{
  height: 350px;
  width: 250px;
  padding-top: 30px;
}
.smaller img:hover{
  height: 400px;
  width: 290px;
  margin-top: -30px;
  padding-left: 10px;
}
.bigger img{
  height: 370px;
  width: 290;
}
.bigger img:hover{
  height: 470px;
  width: 320;
  margin-top: -40px;
  padding-left: 10px;
  padding-right: 10px;
}

.landing-container-right-headings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px;  */
  color: white;
  
}
.landing-container-right-headings h1{
  font-size: 90px;
}

.container-landing-right-line{
  text-align: center;
  width: 70%;
  height: 5px;
  
}
.landing-container-right-headings h3{
  font-size: 38px;
  margin-top: 10px;
}
.landing-container-right-headings p{
  font-size: 30px;
  margin-top: 10px;
}
.landing-container-right-headings strong{
  color: #9d88e9;
}
.landing-container-right-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
  gap: 10px;
  color: white;
  
}
.landing-container-right-buttons button{
  background-color: #9d88e9;
  color: white;
  width: 300px;
  font-size: 25px;
  height: 40px;
  border-radius: 10px;
}
.landing-container-right-buttons button:hover{
  color: #9d88e9;
  background-color: white;
}
.books-container{
  border: 1px solid green;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
  padding-bottom: 30px;
}


.section {
  text-align: center;
  margin-bottom: 50px;
}

.about-section {
  color: #9d88e9;
  background-color: white;
  padding: 60px;
}

.section h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.container-contact{
  background-color: #c8bfe7;
  border: 2px solid #c8bfe7;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 40vh;
}
.container-contact h2{
  color: white;
}
.section div p {
  font-size: 20px;
}

.contact-form-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
  justify-content: center;
}

.contact-form-wrapper form button {
  color: #c8bfe7;
  border: none;
  background-color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.contact-form-wrapper form input {
  padding: 10px 15px;
  font-size: 16px;
}

.contact-form-wrapper form textarea {
  padding: 10px 15px;
  font-size: 16px;
}

/* ---------- FOOTER ---------- */
.footer {
  background-color: #9d88e9;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  gap: 20px;
}
.footer-books-image{
  object-fit: contain;
}
.footer-books-image img{
  height: 50px;
}
.footer-books-image img:hover{
  height: 60px;
}
.flag-div{
  display: flex;
  flex-direction: row;
}
.footer-flag-image{
  object-fit: contain;
}
.footer-flag-image img{
  height: 40px;
  margin-top: -6px;
}
.flag-div p{
  font-size: 20px;
  margin-left: 10px;
}
/* .footer-section p {
  text-align: center;
  width: 400px;
} */

/* .social-icons {
  display: flex;
  gap: 15px;
}

.footer-section h2 {
  font-size: 35px;
}

.social-icons i {
  cursor: pointer;
  font-size: 30px;
}

.social-icons a {
  color: white;
}

.social-icons a:visited {
  color: white;
}

.social-icons a:link {
  color: white;
  cursor: pointer;
}

.social-icons a:active {
  color: white;
}

.social-icons i:hover {
  color: black;
  transition: all 0.2s ease;
} */