* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  padding: 20px;
} */
.container{
  border: 1px solid purple;
}
.container-landing{
  /* border: 1px solid black; */
  height: 70vh;
  
}
.container-landing-nav{
  border: 1px solid black;

}
/* .container-landing-overlay{
  border: 1px solid black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 70%;
  background-color: #c8bfe7;
  z-index: 0;
} */
.container-landing-background{
  border: 1px solid #ccc5b9; 
  background-color: #c8bfe7;
  /* position: relative; */
  text-align: center;
  color: black;
}
.container-landing-background-image{
  object-fit: fit;
  /* position: relative; */
  /* border: 1px solid black; */
}
.container-landing-background-image img{
  height: 70vh;
  width: 100vw;
}
.container-landing-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
}
.container-landing-content h1{
  font-size: 90px;
  color: WHITE;
}
.container-books{
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  margin: 20px;
}
/* .container-books-left{
  border: 1px solid green;

} */
.container-books-left-headings{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid green; */
  color: #9c85ec;
  gap: 20px;
}
.container-books-left-headings h2{
  align-items: left;
  font-size: 50px;
}
.container-books-left-headings h3{
  color: #c8bfe7;
  font-size: 35px;
}
hr{
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 60%;
  height: 1px;
}
.hr-category{
  height: 3px;
  color: #7d5bf7;
  width: 90%;
}
.vl {
  border-left: 6px solid #c8bfe7;
  height: 700px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.container-books-left-subheadings{
  color: black;
  /* border: 1px solid green; */
}
.container-books-right{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}
.container-books-right-line{
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 98%;
  height: 1px;
}
.container-books-right-search{
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 20px;

}
form.example{
  border-radius: 10px;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 20px;
  /* border: 1px solid grey; */
  float: left;
  width: 30vw;
  background: #c8bfe7;
  color: white;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: white;
  color: #9c85ec  ;
  font-size: 20px;
  /* border: 1px solid grey; */
  
  border: none; /* Prevent double borders */
  cursor: pointer;
}
form.example button:hover {
  background: #9c85ec;
  color: white;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.sort-by{
  position: relative;
  font-family: Arial;
}
.sort-by select {
  display: none; /*hide original SELECT element: */
}
.select-selected {
  background-color: DodgerBlue;
}

/* .container-books-right-books{
  border: 1px solid blue;

} */
.books-section h1{
  color: #9c85ec;
  align-items: left;
  font-size: 50px;

}
.books-section{
  /* border: 1px solid black; */
}


/* NAV BAR */
.navbar {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 50px;
  z-index: 10;
  
}
.navbar-links {
  height: 100%;
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-transform: uppercase;
  gap: 90px;
  background-color: #fffcf2;
  padding-right: 20px;
  cursor: pointer;
}
.navbar-link a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #c8bfe7;
  background-color: fffcf2;
  padding-right: 50px;
}
.navbar-link a:hover {
  background-color: #403d39;
  color: white;
  border-radius: 5px;
}

.navbar-links.active {
  top: 0;
  left: 0;
  position: fixed;
  color: black;
}
.fas{
  color: #342122;
}
.cart-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 500;
  width: 7vw;
  height: 5px;
  position: relative;
  padding-bottom: 22px;}
  /* padding-left: 250px; */

/* }
.navbar-menu {
  display: none;
} */

/* .logo {
  display: block;
  grid-template-columns: 1fr 1fr;
  z-index: 500;
  width: 7vw;
  height: 3px;
}
.logo img {
  font-size: 20px;
  position: relative;
  width: 4vw;
  height: 54px;
  cursor: pointer;
} */
/* ----------------PRODUCTS --------------- */

.shop-detail {
  height: 75vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ccc5b9;
}
.shop-detail-container {
  /* padding-top: 60px; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 50px;
  gap: 20px;
  background: #ddd2d3;
  box-shadow: 0 8px 32px 0 #f0d8b6;
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 3%;
  align-items: center;
}
.shop-detail-content h2,
h3 {
  color: white;
  
}
.shop-detail-content h2 {
  font-size: 60px;
}
.shop-detail-content h3 {
  font-size: 25px;
}
.shop-detail-content strong {
  color: #342122;
  
}
.shop-detail-content-btn {
  border: none;
  width: 30%;
  height: 50px;
  padding: 5px 10px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  cursor: pointer;
  background-color: #342122 ;
  color: white;
}

.shop-detail-content-btn a{
  background-color: #342122 ;
  color: white;
  text-decoration: none;
}

.shop-detail-content-btn:hover {
  background-color: white;
  color: #342122;
}


/* .shop-detail-image img {
  /* padding-top: 20px; */
/* position: absolute;
  object-fit: fill;
  height: 100%;
  width: 100%;
  
 }  */ */
.shop-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75vh;
  width: 100vw;
  opacity: 70%;
  background-color: #f0d2b6;
}

.shop-page-detail {
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 20px;
}

.shop-detail-background-image{
  position: absolute;
}
.shop-detail-background-image img{
  object-fit: fill;
  height: 75vh;
  width: 100vw;
}
.shop-detail-image{
  display: flex;
  /* height: 30vh;
  width: 50vw; */
  border-radius: 5px;
  padding: 5px;
}
.shop-detail-image img{
  object-fit: contain;
  height: 200px;
    width: 400px;
}

.books-section{
  padding: 3%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  flex-direction: row;
  column-gap: 10px;
}

.books-item {
  border: 2px solid #cecece;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;

}

.books-item img{
  object-fit: contain;
  height: 40%;
}

.books-item h2{
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #342122;
  align-items: center;
  height: 70px;
}
.books-item p{
  font-size: 16px;

}

.books-item q{
  /* display: none; */
  font-size: 17px;
  height: 70px;
}

.books-item button{
  color: #c8bfe7;
  background-color: white;
  border: 1px solid #c8bfe7;
  border-radius: 10px;
  height: 25px;
  width: 100px;
  
}
.books-item button:hover{
  background-color: #c8bfe7;
  color: white;
}

.footer-section {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 20px;
  gap: 20px;
}
.social-icons {
  display: flex;
  color: black;
  gap: 15px;
}
/* .wrapper{ */
  /* margin-left: 150px;
  margin-right: 150px; */
  /* display: grid;
  height: 100%;
  padding: 50px;
} */

.data-container{
  padding: 20px;
}

.data-container ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.data-container li {
  margin-bottom: 5px;
  padding: 5px 10px;
  background: #eee;
  color: #666;
  cursor: pointer;
}

.data-container li:hover {
  background-color: rgb(202, 202, 202);
}